<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BLUR</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="shop" class="navbar-brand mx-auto">BLUR SHOP</a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="products">PRODUCTS</a>
                    <a class="nav-item nav-link" href="#">SELL</a>
                    <a class="nav-item nav-link" href="#">HELP</a>
                    <a class="nav-item nav-link" href="#">ABOUT US</a>
                    <a class="nav-item nav-link" href="#">PROFILE</a>
                </div>
            </div>
        </nav>

        
        
    <div class="container">
        <dir class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>STOCK</th>
                        <th>CATEGORY</th>
                        <th>SELLER</th>
                    </tr>
                    <% for(var i = 0; i < shop.length; i++) { %>
                        <tr>
                            <td><%= shop[i].idProductos%></td>
                            <td><%= shop[i].nombreP%></td>
                            <td><%= shop[i].precioP%></td>
                            <td><%= shop[i].stock%></td>
                            <td><%= shop[i].categoria%></td>
                            <td><%= shop[i].Vendedor_Usuario_username%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <div class="col-md-6  mt-4 card">
                <form action="/shop" method="POST">
                    <h4 class="card-title">ADD A NEW ITEM</h4>
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="TITLE">
                    </div>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="NAME">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </dir>
    </body>
    </div>

    <footer class="page-footer">
        <div class="page-footer-fontent fixed-width clearfix">
            <small class="copyright">All Content Copyright - BLUR. All Rights Reserved</small>
            <small class="credits">Site Designed by <a href="#">BLUR TEAM</a></small>
        </div>
    </footer>
</html>